h1 {
    color: darkslateblue;
    border-style:dotted;
    background-color: lavender;
    padding: 1% 1%; 
    font-size: 50;
    font-family: 'Homemade Apple';
    text-align: center; 
}

.form-group {
    padding: 10;
}

input {
    border-color: mediumslateblue;
}

.btn-light {
    border-color: lemonchiffon; 
    color: lemonchiffon;
    background-color: darkslateblue; 
    border-style: dotted;
    font-family: 'Arapey', 'serif'; 
}

body {
    background-color: lavenderblush;
}

p {
    color: rgb(54, 26, 82);
    font-family: 'Arapey', serif;
    text-align: center; 
    font-size: 40; 
}

.col { 
    font-family: 'Arapey', serif;
    color: rgb(54, 26, 82);
}

.row {
    width: 300px; 
    
} 

@media only screen and (max-width: 600px) {
    body {
        background-color: #C8B4DE;  
    }

    h1 {
        font-size:20;  
    }
    p {
        font-size: 20; 
    }
}
